/* For use I highly recommend downloading:
(av.min.css)
https://gist.github.com/iiAviator/7c00f83ba4b96ee86e083d85b56aa431
Skeleton CSS and Normalize CSS: 
http://getskeleton.com/
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

/* Variables */

:root {
	--av-bg: #1d1d1c;
	--av-ok: #13b323;
	--av-dg: #cc0000;
	--av-bl: #0066ff;
	--av-gy: gray;
	--av-wt: white;
}


/* Main Theme */

.av-main {
	background-color: var(--av-bg);
	color: white;
	font-family: 'Raleway', 'Open Sans', sans-serif;
}


/* Light Theme */

.av-light {
	font-family: 'Raleway', 'Open Sans', sans-serif;
}


button {
	cursor: pointer;
}

/* Ok Button */

.av-bt-ok {
	background-color: var(--av-ok);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* Danger Button */

.av-bt-danger,
.av-bt-dg {
	background-color: var(--av-dg);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* Blue Button */

.av-bt-blue,
.av-bt-bl {
	background-color: var(--av-bl);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* Transparent Button */

.av-bt-ct {
	background-color: var(--av-bg);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* Gray Button */

.av-bt-gray,
.av-bt-gy {
	background-color: var(--av-gy);
	border: none;
	color: #1d1d1c;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* White Button */

.av-bt-white,
av-bt-wt {
	background-color: var(--av-wt);
	border: none;
	color: #1d1d1c;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* Round */

.av-round {
	border-radius: 5px;
}


/* Input Text */

.av-in-txt {
	background-color: var(--av-bg);
	color: var(--av-wt);
	border-color: var(--av-gy);
	display: inline-block;
	padding: 10px;
	border-radius: 5%;
	margin: 10px;
}


/* Container */

.av-container,
av-cn {
	margin-left: .5rem;
	position: relative;
	width: 100%;
}


/* Rows */

.av-row,
.av-rw {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
}


/* Flip */

.av-flip {
	transform: scaleX(-1);
}


/* Alerts */

.av-alert-danger,
.av-al-dg {
	background-color: var(--av-dg);
	border-radius: 5px;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	margin: 1rem;
}

.av-alert-ok,
.av-al-ok {
	background-color: var(--av-ok);
	border-radius: 5px;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	margin: 1rem;
}

.av-alert-blue,
.av-al-bl {
	background-color: var(--av-bl);
	border-radius: 5px;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	margin: 1rem;
}

.av-alert-white,
.av-al-wt {
	background-color: var(--av-wt);
	border-radius: 5px;
	color: black;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	margin: 1rem;
}

.av-alert-gray,
.av-al-gy {
	background-color: var(--av-gy);
	border-radius: 5px;
	color: white;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	margin: 1rem;
}

.av-alert-ct,
.av-al-ct {
	background-color: var(--av-bg);
	border-radius: 5px;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	margin: 1rem;
}


/* Loading Animations */

.av-an-lo {
	border: 8px solid #f3f3f3;
	border-top: 8px solid var(--av-bl);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	animation: rotate 2s linear infinite;
}

.av-an-losq {
	border: 8px solid #f3f3f3;
	border-top: 8px solid var(--av-bl);
	border-radius: 25%;
	width: 2rem;
	height: 2rem;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* Padding General */

.av-pd1 {
	padding: 1rem;
}

.av-pd2 {
	padding: 2rem;
}

.av-pd3 {
	padding: 3rem;
}

.av-pd4 {
	padding: 4rem;
}


/* Padding Top */

.av-pdt1 {
	padding-top: 1rem;
}

.av-pdt2 {
	padding-top: 2rem;
}

.av-pdt3 {
	padding-top: 3rem;
}

.av-pdt4 {
	padding-top: 4rem;
}


/* Padding Bottom */

.av-pdb1 {
	padding-bottom: 1rem;
}

.av-pdb2 {
	padding-bottom: 2rem;
}

.av-pdb3 {
	padding-bottom: 3rem;
}

.av-pdb4 {
	padding-bottom: 4rem;
}


/* Padding Left */

.av-pdl1 {
	padding-left: 1rem;
}

.av-pdl2 {
	padding-left: 2rem;
}

.av-pdl3 {
	padding-left: 3rem;
}

.av-pdl4 {
	padding-left: 4rem;
}


/* Padding Right */

.av-pdr1 {
	padding-right: 1rem;
}

.av-pdr2 {
	padding-right: 2rem;
}

.av-pdr3 {
	padding-right: 3rem;
}

.av-pdr4 {
	padding-right: 4rem;
}


/* Margin */

.av-mg1 {
	margin: 1rem;
}

.av-mg2 {
	margin: 2rem;
}

.av-mg3 {
	margin: 3rem;
}

.av-mg4 {
	margin: 4rem;
}


/* Margin Top */

.av-mgt1 {
	margin-top: 1rem;
}

.av-mgt2 {
	margin-top: 2rem;
}

.av-mgt3 {
	margin-top: 3rem;
}

.av-mgt4 {
	margin-top: 4rem;
}


/* Margin Left */

.av-mgl1 {
	margin-left: 1rem;
}

.av-mgl2 {
	margin-left: 2rem;
}

.av-mgl3 {
	margin-left: 3rem;
}

.av-mgl4 {
	margin-left: 4rem;
}


/* Margin Right */

.av-mgr1 {
	margin-right: 1rem;
}

.av-mgr2 {
	margin-right: 2rem;
}

.av-mgr3 {
	margin-right: 3rem;
}

.av-mgr4 {
	margin-right: 4rem;
}


/* Margin Bottom */

.av-mgb1 {
	margin-bottom: 1rem;
}

.av-mgb2 {
	margin-bottom: 2rem;
}

.av-mgb3 {
	margin-bottom: 3rem;
}

.av-mgb4 {
	margin-bottom: 4rem;
}